## ============================================================================
## standard project-level settings
## ============================================================================

## for info on settings: <https://docs.djangoproject.com/en/4.2/ref/settings/>

SECRET_KEY="example_secret_key"

DEBUG_JSON="true"

ADMINS_JSON='
    [
      [ "exampleHubFirst exampleHubLast", "exampleHub@domain.edu" ],
      [ "exampleHubFirst2 exampleHubLast2", "exampleHub2@domain.edu" ]
    ]'

ALLOWED_HOSTS_JSON='[]'
CSRF_TRUSTED_ORIGINS_JSON='[]'

DATABASES_JSON='
    {
      "default": {
        "ENGINE": "django.db.backends.sqlite3",
        "HOST": "",
        "NAME": "../uploader_hub_files/DBs/uploader_hub.sqlite",
        "PASSWORD": "",
        "PORT": "",
        "USER": ""
      }
    }
    '

STATIC_URL="/static/"
STATIC_ROOT="../uploader_hub_files/tmp/"  # used by collectstatic; not used by runserver.

## user uploaded files ----------------------------------------------
MEDIA_ROOT = "../uploader_hub_files/staged_uploads/"

SERVER_EMAIL="donotreply_foo-project@domain.edu"
EMAIL_HOST="localhost"
EMAIL_PORT="1026"  # will be converted to int in settings.py

LOG_PATH="../uploader_hub_files/logs/bdr_uploader_hub_project.log"
LOG_LEVEL="DEBUG"

## https://docs.djangoproject.com/en/5.2/topics/cache/
## - TIMEOUT is in seconds (0 means don't cache); CULL_FREQUENCY defaults to one-third
CACHES_JSON='
{
  "default": {
    "BACKEND": "django.core.cache.backends.filebased.FileBasedCache",
    "LOCATION": "../uploader_hub_files/cache_dir",
    "TIMEOUT": 10,
    "OPTIONS": {
        "MAX_ENTRIES": 1000
    }
  }
}
'

LOGIN_URL='http://127.0.0.1:8000/shib_login/'


## ============================================================================
## app
## ============================================================================

TEST_SHIB_META_DCT_JSON='{
  "Shibboleth-eppn": "foobar",
  "Shibboleth-givenName": "Foo",
  "Shibboleth-mail": "foo@bar.baz",
  "Shibboleth-sn": "Bar",
  "Shibboleth-isMemberOf": "aa:bb:cc;dd:ee:ff;the:group;gg:hh;foo_group;bar_group"
}' # tweak groups here as needed for testing

SHIB_SP_LOGIN_URL="https://blah.edu/Shibboleth.sso/Login"

SHIB_IDP_LOGOUT_URL="https://blah.edu/idp/shib_logout.jsp"

ALL_LICENSE_OPTIONS_JSON='[
    ["all_rights_reserved", "All Rights Reserved"],
    ["CC_BY", "Attribution (CC BY)"],
    ["CC_BY-SA", "Attribution-ShareAlike (CC BY-SA)"],
    ["CC_BY-NC-SA", "Attribution-NonCommercial-ShareAlike (CC BY-NC-SA)"],
    ["CC_BY-NC-ND", "Attribution-NonCommercial-NoDerivatives (CC BY-NC-ND)"],
    ["CC_BY-NC", "Attribution-NonCommercial (CC BY-NC)"],
    ["CC_BY-ND", "Attribution-NoDerivatives (CC BY-ND)"],
    ["CC0", "\"No Rights Reserved\" Creative Commons Zero (CC0)"]
]'

ALL_VISIBILITY_OPTIONS_JSON = '[
    ["public", "Public"],
    ["private", "Private"]
]'

GENRE_OPTIONS_JSON='[
    {"menu_label": "document", "mods_string": "publications (documents)","authority": "aat", "value_uri": "http://vocab.getty.edu/aat/300111999"},
    {"menu_label": "poster", "mods_string": "instructional posters","authority": "aat", "value_uri": "http://vocab.getty.edu/aat/300426530"},
    {"menu_label": "thesis", "mods_string": "theses","authority": "aat", "value_uri": "http://vocab.getty.edu/aat/300028028"}
]'

TEST_COLLECTION_PID_FOR_FORM_VALIDATION="test:bdrpid"
TEST_COLLECTION_TITLE_FOR_FORM_VALIDATION="foobar collection"

BDR_MANAGER_GROUP="SHIB:BDR:MANAGER"
BDR_BROWN_GROUP="SHIB:BROWN"
BDR_PUBLIC_GROUP="PUBLIC"

BDR_PUBLIC_STUDIO_ITEM_ROOT_URL="https://blah.edu/studio/items/"
BDR_PUBLIC_API_COLLECTION_ROOT_URL="https://blah.edu/api/collections/"
BDR_PRIVATE_API_ROOT_URL="https://blah.edu/api/private"

POST_FILES_STAGING_PATH_ROOT="../uploader_hub_files/staging/"

## for mount check
MOUNT_POINT="../uploader_hub_files/fake_mount"

## for "you don't have permissions" messages
PROBLEM_EMAIL="foo@barmail.baz"
