{% extends "base.html" %}
{% load static %}

<!-- html -->

<!-- head -->
{% block header_other %}
<link rel="stylesheet" href="{% static 'bdr_student_uploader_hub_app/css/common.css' %}">

<title>Staff Form</title>

<style>

    a#back-link {
        display: block;
        margin-bottom: 2rem;
    }
    
    #form-title {
        margin-bottom: 3rem;
    }

    /* General form styling */
    form {
        width: 800px;
        margin: auto;
    }
    
    /* Form section styling */
    .form-section {
        padding-bottom: .5rem;  /* space before the border-bottom line */
        border-bottom: 2px solid #ccc;
        margin-top: 3rem;
        margin-bottom: 2rem;  /* space after the border-bottom line */
    }
    
    /* Form group styling - align labels and inputs properly */
    .form-group {
        display: grid;
        grid-template-columns: 250px auto; /* Labels take fixed width, inputs expand */

        /* align-items: center; */
        align-items: start; /* Align labels to the top */;

        gap: 10px;
        margin-bottom: 2rem;
    }
    
    /* Label styling - ensure proper alignment */
    label {
        text-align: right;
        margin-right: 10px;
    }

    /* Help text styling */
    .help {
        font-size: 0.9em;
        color: #666;
        text-align: right;
        margin-top: 2px; 
        margin-right: 14px;
    }
    
    /* Input, select, and textarea styling */
    input[type='text'], select, textarea {
        width: 100%;
        text-align: left;
        max-width: 500px; /* Adjust for better alignment */
    }
    
    /* Ensure checkboxes align correctly with their labels */
    .form-group input[type='checkbox'] {
        justify-self: start;
    }

    /* Wraps the label and help text together */
    .label-container {
        display: flex;
        flex-direction: column; /* Stack label and help text */
        align-items: flex-end; /* Align both to the right */
    }

    /* Error message styling */
    .errorlist {
        color: red;
        list-style-type: none;
        padding: 0;
        margin-bottom: 1rem;
    }
    .form-errors {
        border: 1px solid red;
        padding-left: 1rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-bottom: 3rem;
    }
</style>     

{% endblock header_other %}
<!-- /head -->

<!-- body -->

{% block main_content %}
<section class="form-container">
    <a id="back-link" href="{% url 'staff_config_new_url' %}">(back to apps page)</a>

    <h2 id="form-title">Staff "{{ app_name }}" config-form</h2>

    <form method="post" action="{% url 'staff_config_slug_url' slug=slug %}">
        {% csrf_token %}

        <!-- display form errors -------------------------------- -->

        {% if form.errors %}
            <div class="form-errors">
                <p class="errorlist">Please correct the form errors below.</p>

                <!-- if there is an error at the form-level, display it -->
                {% for error in form.non_field_errors %}
                    <ul class="errorlist">
                        <li>• error: {{ error }}</li>
                    </ul>
                {% endfor %}

                {% for field in form %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <!-- <p class="error">Please correct the form-field errors below.</p> -->
                            <li>• field: {{ field.label }}</li>
                            <li>• error: {{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        {% endif %}

        <!-- form-fields ---------------------------------------- -->

        <div class="form-section">
            <h3>Basics</h3>

            <div class="form-group">
                <div class="label-container">
                    {{ form.collection_pid.label_tag }}
                    {% if form.collection_pid.help_text %}
                        <p class="help">{{ form.collection_pid.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.collection_pid }}
            </div>

            <div class="form-group">
                <div class="label-container">
                {{ form.collection_title.label_tag }} 
                    {% if form.collection_title.help_text %}
                        <p class="help">{{ form.collection_title.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.collection_title }}
            </div>

            <div class="form-group">
                <div class="label-container">
                {{ form.staff_to_notify.label_tag }} 
                    {% if form.staff_to_notify.help_text %}
                        <p class="help">{{ form.staff_to_notify.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.staff_to_notify }}
            </div>
            
            <div class="form-group">
                <div class="label-container">
                    {{ form.authorized_student_groups.label_tag }}
                    {% if form.authorized_student_groups.help_text %}
                        <p class="help">{{ form.authorized_student_groups.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.authorized_student_groups }}
            </div>  

            <div class="form-group">
                <div class="label-container">
                    {{ form.authorized_student_emails.label_tag }}
                    {% if form.authorized_student_emails.help_text %}
                        <p class="help">{{ form.authorized_student_emails.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.authorized_student_emails }}
            </div>  
            
        </div>  <!-- end of form-section -->

        <div class="form-section">
            <h3>Collaborator Options</h3>

            <div class="form-group">
                {{ form.offer_advisors_and_readers.label_tag }} {{ form.offer_advisors_and_readers }}
                <div class="label-container">
                    {{ form.advisors_and_readers_required.label_tag }}
                    {% if form.advisors_and_readers_required.help_text %}
                        <p class="help">{{ form.advisors_and_readers_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.advisors_and_readers_required }}
            </div>
            <div class="form-group">
                {{ form.offer_team_members.label_tag }} {{ form.offer_team_members }}
                <div class="label-container">
                    {{ form.team_members_required.label_tag }}
                    {% if form.team_members_required.help_text %}
                        <p class="help">{{ form.team_members_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.team_members_required }}
            </div>
            <div class="form-group">
                {{ form.offer_faculty_mentors.label_tag }} {{ form.offer_faculty_mentors }}
                <div class="label-container">
                    {{ form.faculty_mentors_required.label_tag }}
                    {% if form.faculty_mentors_required.help_text %}
                        <p class="help">{{ form.faculty_mentors_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.faculty_mentors_required }}
            </div>
            <div class="form-group">
                {{ form.offer_authors.label_tag }} {{ form.offer_authors }}
                <div class="label-container">
                    {{ form.authors_required.label_tag }}
                    {% if form.authors_required.help_text %}
                        <p class="help">{{ form.authors_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.authors_required }}
            </div>
        </div>
        
        <div class="form-section">
            <h3>Department/Program Options</h3>

            <div class="form-group">
                {{ form.offer_department.label_tag }} {{ form.offer_department }}
                <div class="label-container">
                    {{ form.department_required.label_tag }}
                    {% if form.department_required.help_text %}
                        <p class="help">{{ form.department_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.department_required }}
            </div>

            <div class="form-group">
                {{ form.offer_research_program.label_tag }} {{ form.offer_research_program }}
                <div class="label-container">
                    {{ form.research_program_required.label_tag }}
                    {% if form.research_program_required.help_text %}
                        <p class="help">{{ form.research_program_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.research_program_required }}
            </div>

        </div>  <!-- end of form-section -->
        
        <div class="form-section">
            <h3>Access Options</h3>

            {% comment %} 
            <div class="form-group">
                {{ form.offer_embargo_access.label_tag }} {{ form.offer_embargo_access }}
            </div>
            {% endcomment %}

            <div class="form-group">
                {{ form.offer_license_options.label_tag }} {{ form.offer_license_options }}
                <div class="label-container">
                    {{ form.license_required.label_tag }}
                    {% if form.license_required.help_text %}
                        <p class="help">{{ form.license_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.license_required }}
                {{ form.license_options.label_tag }} {{ form.license_options }}
                {{ form.license_default.label_tag }} {{ form.license_default }}
            </div>
            <div class="form-group">
                {{ form.offer_access_options.label_tag }} {{ form.offer_access_options }}
                <div class="label-container">
                    {{ form.access_required.label_tag }}
                    {% if form.access_required.help_text %}
                        <p class="help">{{ form.access_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.access_required }}
                {{ form.access_options.label_tag }} {{ form.access_options }}
                {{ form.access_default.label_tag }} {{ form.access_default }}
            </div>
            <div class="form-group">
                {{ form.offer_visibility_options.label_tag }} {{ form.offer_visibility_options }}
                <div class="label-container">
                    {{ form.visibility_required.label_tag }}
                    {% if form.visibility_required.help_text %}
                        <p class="help">{{ form.visibility_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.visibility_required }}
                {{ form.visibility_options.label_tag }} {{ form.visibility_options }}                          
                {{ form.visibility_default.label_tag }} {{ form.visibility_default }}
            </div>
        </div>  <!-- end of form-section -->
        
        <div class="form-section">
            <h3>Other Options</h3>

            <div class="form-group">
                {{ form.ask_for_keywords.label_tag }} {{ form.ask_for_keywords }}
                <div class="label-container">
                    {{ form.keywords_required.label_tag }}
                    {% if form.keywords_required.help_text %}
                        <p class="help">{{ form.keywords_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.keywords_required }}
            </div>
            
            <div class="form-group">
                {{ form.ask_for_concentrations.label_tag }} {{ form.ask_for_concentrations }}
                <div class="label-container">
                    {{ form.concentrations_required.label_tag }}
                    {% if form.concentrations_required.help_text %}
                        <p class="help">{{ form.concentrations_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.concentrations_required }}
            </div>
            <div class="form-group">
                {{ form.ask_for_degrees.label_tag }} {{ form.ask_for_degrees }}
                <div class="label-container">
                    {{ form.degrees_required.label_tag }}
                    {% if form.degrees_required.help_text %}
                        <p class="help">{{ form.degrees_required.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.degrees_required }}
            </div>

            {% comment %}
            <div class="form-group">
                {{ form.invite_supplementary_files.label_tag }} {{ form.invite_supplementary_files }}
            </div>
            {% endcomment %}
            
        </div>  <!-- end of form-section -->
        
        <!-- submit-button -------------------------------------- -->

        <div class="form-field">
            <input type="submit" value="Save">
        </div>
        
    </form>
</section>
{% endblock main_content %}
<!-- /body -->

<!-- /html -->
