{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDR Deposits Configurator</title>
    <link rel="stylesheet" href="{% static 'bdr_deposits_uploader_app/css/config.css' %}">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <header>
        <h1>Brown University Library</h1>
    </header>
    <main>
        <section class="form-section">
            <h2>Create new deposits app</h2>
            <form id="collection-form" hx-post="/hlpr_check_coll_id/" hx-target="#response" hx-swap="innerHTML">
                {% csrf_token %}
                <label for="collection-id">Collection ID:</label>
                <input id="collection-id" name="collection_id" type="text" placeholder="Enter Collection ID">
                <button type="submit" class="btn-primary">Submit</button>
            </form>
            <div id="response" class="alert"></div>
        </section>
        <hr/>
        <section class="recent-items-section">
            <h2>Recent Deposits Apps</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Modified-Date</th>
                        <th>Name</th>
                        <th>Items-Count</th>
                        <th>Link</th>
                        <th>More Info</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in recent_apps %}
                    <tr>
                        <td>{{ app.mod_date }}</td>
                        <td>{{ app.name }}</td>
                        <td>{{ app.items_count }}</td>
                        <td>{{ app.link }}</td>
                        <td><a href="/admin/{{ app.id }}" class="btn-link">More info</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    <!-- 
    <footer>
        <p>© 2024 Brown University Library</p>
    </footer> 
    -->

    <hr/>

</body>
</html>
