{% extends "base.html" %}
{% load static %}
<!-- Template for templates 🙂
     The html comments just help remember the overall structure of the page. -->

<!-- html -->

<!-- head -->
{% block title %}
<title>BDR Deposits App Info</title>
{% endblock title %}

{% block header_other %}  <!-- custom-page CSS can go in here-->
<link rel="stylesheet" href="{% static 'bdr_deposits_uploader_app/css/info.css' %}">
{% endblock header_other %}
<!-- /head -->

<!-- body -->

    <!-- header -->
    <!-- /header -->

    <!-- main -->
    {% block main_content %}
    <div class="info-section">
        <h2>BDR Deposits Uploader App — Information</h2>
        <p>This webapp will allow designated students to upload a document to a designated BDR collection.</p>
        <p></p>
        <p>This webapp will also allow designated library staff to configure basic uploaders to the BDR. The webapps can be for ongoing programs, or one-off or short-duration programs. More information about who to contact to enable staff-permissions to use this webapp will be forthcoming.</p>
        <p></p>
        <p>(Under development.)</p>
    </div>
    {% endblock main_content %}
    <!-- /main -->

<!-- /body -->

<!-- /html -->
