{% extends "base.html" %}
{% load static %}

{% block header_other %}
<link rel="stylesheet" href="{% static 'bdr_deposits_uploader_app/css/common.css' %}">
<title>Student Upload</title>
<style>
    a#back-link {
        /* display: block; */
        margin-bottom: 2rem;
        display: inline;
    }
    
    #form-title {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    form {
        width: 800px;
        margin: auto;
    }
    
    .form-section {
        padding-bottom: .5rem;  /* space before the border-bottom line */
        border-bottom: 2px solid #ccc;
        margin-top: 3rem;
        margin-bottom: 2rem;  /* space after the border-bottom line */
    }
    
    .form-group {
        display: grid;
        /* grid-template-columns: 250px auto; */
        grid-template-columns: 300px auto;
        align-items: start;
        gap: 10px;
        margin-bottom: 2rem;
    }
    
    label {
        text-align: right;
        margin-right: 10px;
    }

    .help {
        font-size: 0.9em;
        color: #666;
        text-align: right;
        margin-top: 2px; 
        margin-right: 14px;
    }
    
    input[type='text'], select, textarea {
        width: 100%;
        text-align: left;
        max-width: 500px;
    }
    
    .form-group input[type='checkbox'] {
        justify-self: start;
    }

    .label-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .errorlist {
        color: red;
        list-style-type: none;
        padding: 0;
        margin-bottom: 1rem;
    }

    .form-errors {
        border: 1px solid red;
        padding-left: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 3rem;
    }

    .form-control-static {
        display: block;
        width: 100%;
        text-align: left;
        max-width: 500px;
        margin: 0; 
    }
    
</style>
{% endblock header_other %}

{% block main_content %}
<section class="form-container">
    <a id="back-link" href="{% url 'staff_config_new_url' %}">(back to apps page)</a> This will be a better back-link for students.
    <h2 id="form-title">Student "{{ app_name }}" upload-form</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'student_upload_slug_url' slug=slug %}">
        {% csrf_token %}
        
        <!-- display form errors -------------------------------- -->

        {# Display non-field and field-specific errors #}
        {% if form.errors %}
        <div class="form-errors">
            <p class="errorlist">Please correct the errors below.</p>
            {% for error in form.non_field_errors %}
            <ul class="errorlist">
                <li>• error: {{ error }}</li>
            </ul>
            {% endfor %}
            {% for field in form %}
                {% for error in field.errors %}
                <ul class="errorlist">
                    <li>• field: {{ field.label }} – error: {{ error }}</li>
                </ul>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        
        <!-- form-fields ---------------------------------------- -->

        <div class="form-section">
            <h3>Basic Information</h3>
            <!-- non-editable data ------------------------------ -->
            <div class="form-group">
                <div class="label-container">
                    <label for="id_name">Name:</label>
                    <!-- <p class="help">(from Shib)</p> -->
                </div>
                <p id="id_name" class="form-control-static">{{ depositor_fullname }}</p>
            </div>
            <div class="form-group">
                <div class="label-container">
                    <label for="id_name">Email:</label>
                    <!-- <p class="help">(from Shib)</p> -->
                </div>
                <p id="id_name" class="form-control-static">{{ depositor_email }}</p>
            </div>
            <div class="form-group">
                <div class="label-container">
                    <label for="id_name">Deposit-date:</label>
                    <!-- <p class="help"></p> -->
                </div>
                <p id="id_name" class="form-control-static">{{ deposit_iso_date }}</p>
            </div>
            <!-- editable data ---------------------------------- -->
            <div class="form-group">
                <div class="label-container">
                    {{ form.title.label_tag }}
                    {% if form.title.help_text %}
                        <p class="help">{{ form.title.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.title }}
            </div>
            <div class="form-group">
                <div class="label-container">
                {{ form.abstract.label_tag }} 
                {% if form.abstract.help_text %}
                    <p class="help">{{ form.abstract.help_text|safe }}</p>
                {% endif %}
                </div>
                {{ form.abstract }}
            </div>

        </div>  <!-- end of form section -->

        <div class="form-section">
            <h3>Collaborator Information</h3>

            {% if form.advisors_and_readers %}
            <div class="form-group">
                <div class="label-container">
                    {{ form.advisors_and_readers.label_tag }}
                    {% if form.advisors_and_readers.help_text %}
                        <p class="help">{{ form.advisors_and_readers.help_text|safe }}</p>
                    {% endif %}
                </div>  
                {{ form.advisors_and_readers }}
            </div>
            {% endif %}

            {% if form.team_members %}
            <div class="form-group">
                <div class="label-container">
                    {{ form.team_members.label_tag }}
                    {% if form.team_members.help_text %}
                        <p class="help">{{ form.team_members.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.team_members }}
            </div>
            {% endif %}

            {% if form.faculty_mentors %}
            <div class="form-group">
                {{ form.faculty_mentors.label_tag }} {{ form.faculty_mentors }}
                {% if form.faculty_mentors.help_text %}
                <div class="label-container">
                    <p class="help">{{ form.faculty_mentors.help_text|safe }}</p>
                </div>
                {% endif %}
            </div>
            {% endif %}

            {% if form.authors %}
            <div class="form-group">
                {{ form.authors.label_tag }} {{ form.authors }}
                {% if form.authors.help_text %}
                <div class="label-container">
                    <p class="help">{{ form.authors.help_text|safe }}</p>
                </div>
                {% endif %}
            </div>
            {% endif %}

        </div>  <!-- end of form section -->
        
        <div class="form-section">
            <h3>Department and Program Info</h3>

            {% if form.department %}
            <div class="form-group">
                <div class="label-container">
                    {{ form.department.label_tag }}
                    {% if form.department.help_text %}
                        <p class="help">{{ form.department.help_text|safe }}</p>
                    {% endif %}
                </div>  
                {{ form.department }}
            </div>
            {% endif %}

            {% if form.research_program %}
            <div class="form-group">
                <div class="label-container">
                    {{ form.research_program.label_tag }}
                    {% if form.research_program.help_text %}
                        <p class="help">{{ form.research_program.help_text|safe }}</p>
                    {% endif %}
                </div>  
                {{ form.research_program }}
            </div>
            {% endif %}

        </div>  <!-- end of form section -->

        <div class="form-section">
            <h3>Access Info</h3>

            {% if form.license_options %}
            <div class="form-group">
                <div class="label-container">
                    {{ form.license_options.label_tag }} 
                    {% if form.license_options.help_text %}
                        <p class="help">{{ form.license_options.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.license_options }}
            </div>
            {% endif %}

            {% if form.visibility_options %}
            <div class="form-group">
                <div class="label-container">
                    {{ form.visibility_options.label_tag }} 
                    {% if form.visibility_options.help_text %}
                        <p class="help">{{ form.visibility_options.help_text|safe }}</p>
                    {% endif %}
                </div>
                {{ form.visibility_options }}
            </div>
            {% endif %}
                        
        </div>  <!-- end of form section -->
        
        <div class="form-section">
            <h3>Other Info</h3>
            {% if form.concentrations %}
            <div class="form-group">
                {{ form.concentrations.label_tag }} {{ form.concentrations }}
                {% if form.concentrations.help_text %}
                <div class="label-container">
                    <p class="help">{{ form.concentrations.help_text|safe }}</p>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if form.degrees %}
            <div class="form-group">
                {{ form.degrees.label_tag }} {{ form.degrees }}
                {% if form.degrees.help_text %}
                <div class="label-container">
                    <p class="help">{{ form.degrees.help_text|safe }}</p>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if form.supplementary_files %}
            <div class="form-group">
                {{ form.supplementary_files.label_tag }} {{ form.supplementary_files }}
                {% if form.supplementary_files.help_text %}
                <div class="label-container">
                    <p class="help">{{ form.supplementary_files.help_text|safe }}</p>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if form.authorized_student_groups %}
            <div class="form-group">
                {{ form.authorized_student_groups.label_tag }} {{ form.authorized_student_groups }}
                {% if form.authorized_student_groups.help_text %}
                <div class="label-container">
                    <p class="help">{{ form.authorized_student_groups.help_text|safe }}</p>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if form.authorized_student_emails %}
            <div class="form-group">
                {{ form.authorized_student_emails.label_tag }} {{ form.authorized_student_emails }}
                {% if form.authorized_student_emails.help_text %}
                <div class="label-container">
                    <p class="help">{{ form.authorized_student_emails.help_text|safe }}</p>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        
        <div class="form-field">
            <input type="submit" value="Submit">
        </div>
    </form>
</section>
{% endblock main_content %}
