{% extends "base.html" %}
{% load static %}

{% block header_other %}
<link rel="stylesheet" href="{% static 'bdr_deposits_uploader_app/css/common.css' %}">
<title>Confirm Submission</title>

<style>
    a#back-link {
        /* display: block; */
        margin-bottom: 2rem;
        display: inline;
    }
    
    #form-title {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    form {
        width: 800px;
        margin: auto;
    }
    
    .form-section {
        padding-bottom: .5rem;  /* space before the border-bottom line */
        border-bottom: 2px solid #ccc;
        margin-top: 3rem;
        margin-bottom: 2rem;  /* space after the border-bottom line */
    }
    
    .form-group {
        display: grid;
        /* grid-template-columns: 250px auto; */
        grid-template-columns: 300px auto;
        align-items: start;
        gap: 10px;
        margin-bottom: 2rem;
    }
    
    label {
        text-align: right;
        margin-right: 10px;
    }

    .help {
        font-size: 0.9em;
        color: #666;
        text-align: right;
        margin-top: 2px; 
        margin-right: 14px;
    }
    
    input[type='text'], select, textarea {
        width: 100%;
        text-align: left;
        max-width: 500px;
    }
    
    .form-group input[type='checkbox'] {
        justify-self: start;
    }

    .label-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .errorlist {
        color: red;
        list-style-type: none;
        padding: 0;
        margin-bottom: 1rem;
    }

    .form-errors {
        border: 1px solid red;
        padding-left: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 3rem;
    }

    .form-control-static {
        display: block;
        width: 100%;
        text-align: left;
        max-width: 500px;
        margin: 0; 
    }
    
</style>

{% endblock header_other %}

{% block main_content %}
<section class="form-container">
  <h2>Review Your Submission for "{{ app_name }}"</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-section">
      {% for key, value in student_data.items %}
        <div class="form-group">
          <strong>{{ key|capfirst }}:</strong> <span class="form-control-static">{{ value }}</span>
        </div>
      {% endfor %}
    </div>
    <div class="form-field">
      <button type="submit" name="confirm" class="btn-primary">Confirm</button>
      <button type="submit" name="edit" class="btn-primary">Edit</button>
    </div>
  </form>
</section>
{% endblock main_content %}
